@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #11cd9a;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: rgb(249, 7, 43);
}

h4 {
    font-size: 20px;

    color: #cecc58;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    color: yellow;
}

p {
    font-size: 16px;
    color: rgb(200, 197, 197);
    margin: 15px 0px 20px 0px;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0px;

}

body {
    width: 100%;
    background-attachment: fixed;

    background-color: #222;
}

.logo {
    width: 120px;
    border-radius: 30%;
    margin-left: 10px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    background-color: #0a0a0a;
    box-shadow: 0px 5px 15px rgb(253, 252, 252);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;

}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0px 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: rgb(243, 237, 237);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(240, 236, 24);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    width: 40%;
    height: 20px;
    background-color: rgb(240, 236, 24);
    position: absolute;
    bottom: -4px;
    left: 2px;
}

#hero {
    margin-top: 13px;
    width: 100vw;
    height: 60vw;
    background-color: rgb(120, 117, 117);
    align-items: end;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-image: url(bn.jpeg);
    position: relative;
    box-shadow: 5px 5px 15px gray;
    margin-top: 13px;

}

#hero button {
    border-radius: 2px rgb(16, 15, 15);
    width: 150px;
    height: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #11cd9a;
    border-radius: 20px;
    background-repeat: no-repeat;
    font-weight: 700;
    cursor: pointer;
    font-size: 25px;

}

#hero button:hover {
    background-color: #088178;
    color: #fff;
}

.hero-img {
    width: 300px;
    height: 400px;
    margin-right: 300px;
}

@media (max-width: 767px) {
    .hero-img {
        width: 200px;
        height: auto;
        margin-right: 0;
        margin-top: 20px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 12px;
    padding: 20px 80px;
    flex-wrap: wrap;
    background-image: url(background.jpeg);
    box-shadow: 5px 5px 15px gray;
}

.row .item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row img {
    width: 100%;
    max-width: 250px;
    height: auto;
    padding: 0px 10px;
    margin-top: 20px;
    display: block;
    border-radius: 6px;
    box-shadow: 0px 5px 10px white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.row img:hover {
    transform: scale(0.95);
    box-shadow: 0 10px 20px rgb(240, 236, 24);
}

span {
    color: rgb(234, 230, 4);

}

h5 {
    color: #11cd9a;
}


.pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    background-color: #25252ad5;
    position: relative;
    overflow: hidden;
    /* Ensures image doesn't spill out */
}

.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
    /* Added lift effect */
}

.pro-container .item {
    padding: 3px;
    flex: 1 1 calc(25% - 12px);
    justify-content: center;
}

.pro-container img {
    width: 100%;
    height: 250px;
    /* Reduced height slightly to be more proportional */
    object-fit: cover;
    /* Keeps it filling the area. Use 'contain' if you want full image visible without crop. */
    border-radius: 20px;
    /* Matches card slightly */
    display: block;
    margin-bottom: 10px;
    /* Space between image and text */
    transition: transform 0.3s ease;
}

.pro-container img:hover {
    transform: scale(0.95);
    box-shadow: 0 10px 20px rgb(240, 236, 24);
}

#banner {
    margin-top: 13px;
    width: 100vw;
    height: 15vw;
    background-color: rgb(248, 242, 242);
    align-items: end;
    background-position: top 25% right 0;
    padding: 0 80px;
    color: pink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(background.jpeg);
    position: relative;
    box-shadow: 5px 5px 15px gray;

}

#banner button {
    border-radius: 0px;
    width: 280px;
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #11cd2a;
    border-radius: 20px;
    background-repeat: no-repeat;
    font-weight: 700;
    cursor: pointer;
    font-size: 25px;

}


#banner h2 {
    color: aliceblue;
    font-size: 40px;
    padding: 10px 0px;
}

#product1 {
    padding: 40px 80px;
    margin-top: 30px;
}

#product2 {
    padding: 40px 80px;

}

#three-banners {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#three-banners .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-size: cover;
    background-position: center;
    min-width: 30%;
    height: 35vh;
    margin-bottom: 20px;
    border-radius: 5px;
    /* Added some radius to match other elements */
    transition: transform 0.3s ease;
}

#three-banners .banner-box:hover {
    transform: scale(1.02);

    box-shadow: 0 10px 20px rgb(240, 236, 24);


}


#three-banners .banner-box3 {
    background-image: url(cbanner4.jpeg);
}

#three-banners .banner-box4 {
    background-image: url(cbanner2.jpeg);
}

#three-banners .banner-box5 {
    background-image: url(cbanner3.jpeg);
}

#three-banners h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
    text-shadow: 1px 1px 2px black;

}

#three-banners h3 {
    color: #ec544e;
    font-weight: 800;
    font-size: 15px;
    text-shadow: 1px 1px 2px black;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    background-image: url(cbanner1.jpeg);
    /* Default, or set specifically below */
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
}

#sm-banner .banner-box1 {
    background-image: url(cbanner2.jpeg);
}

#sm-banner .banner-box2 {
    background-image: url(ChatGPT\ Image\ Jan\ 18\,\ 2026\ at\ 01_04_58\ PM.png);
}

#sm-banner button {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #302369;
    background-color: rgb(235, 193, 7);
    border-radius: 30px;
    border: none;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover {
    transform: scale(1.02);

    box-shadow: 0 10px 20px rgb(240, 236, 24);


}

#sm-banner button:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
    color: blueviolet;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 40px 60px;
    background-image: url(bn.jpeg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-size: cover;
}

.form {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 70%;
    border: 1px;
    border-radius: 10px;
    outline: none;

}

#newsletter input::placeholder {
    transition: color 0.3s ease;
    color: #1127cd;
}

#newsletter input:hover::placeholder {
    color: #11cd9a;
}

#form-details {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 80px;
}

#form-details form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    height: auto;
}

#form-details form span {
    font-size: 14px;
    color: #cecc58;
}

#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
    color: #11cd9a;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #444;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

#form-details form button {
    background-color: #11cd9a;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
    color: #ccc;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #cecc58;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover {
    background-color: #11cd9a;
    color: #fff;
}

footer .follow i {
    color: rgb(200, 197, 197);
    padding-right: 4px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
}

footer .follow i:hover,
footer a:hover {
    color: rgb(240, 236, 24);
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.col.install .roww img {
    border: 1px solid #088178;
    border-radius: 1px;

}

.col.install img {
    margin: 0px 0 0px 0;
    width: 240px;
    height: 120px;
}

footer .footer-logo {
    width: 80px;
    height: auto;
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    color: rgb(200, 197, 197);
    padding-bottom: 20px;
}

.copyright {
    width: 100%;
    text-align: center;
}

/* Blog Page */
#page-header {
    background-image: url("bgg.jpeg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #fff;
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    transition: 0.3s ease;
}

#blog .blog-box:hover img {
    transform: scale(1.05);
}

#blog .blog-details {
    width: 50%;
}

#blog .blog-details h4 {
    color: #cecc58;
    font-size: 24px;
    font-weight: 700;
}

#blog .blog-details p {
    color: #afafaf;
    font-size: 14px;
}

#blog .blog-details a {
    text-decoration: none;
    font-size: 11px;
    color: #fff;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}

#blog .blog-details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: #fff;
    position: absolute;
    top: 12px;
    right: -60px;
}

#blog .blog-details a:hover {
    color: #11cd9a;
}

#blog .blog-details a:hover::after {
    background-color: #11cd9a;
}

#blog .blog-box h1 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: rgba(201, 203, 206, 0.1);
    z-index: -1;
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: #11cd9a;
    padding: 15px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Media Queries for Responsiveness */

/* Laptop and Small Desktop (Up to 1200px) */
@media (max-width: 1200px) {
    .section-p1 {
        padding: 40px 40px;
    }

    #header {
        padding: 20px 40px;
    }

    #hero {
        padding: 0 40px;
    }

    .row {
        padding: 20px 40px;
    }

    #product1,
    #product2 {
        padding: 40px 40px;
    }
}

/* Tablet (Up to 991px) */
@media (max-width: 991px) {
    #navbar {
        gap: 10px;
    }

    #navbar li {
        padding: 0 10px;
    }

    .pro-container {
        justify-content: center;
    }

    .pro {
        width: 45%;
        margin: 15px 5px;
    }

    #hero {
        height: 70vh;
        background-position: top 30% right 30%;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
    }

    #newsletter {
        padding: 40px;
    }

    #newsletter .form {
        width: 50%;
    }
}

/* Phone (Up to 767px) */
@media (max-width: 767px) {
    .section-p1 {
        padding: 40px 20px;
    }

    #header {
        padding: 10px 20px;
        flex-direction: column;
        gap: 15px;
    }

    #navbar {
        flex-wrap: wrap;
        justify-content: center;
    }

    #navbar li {
        padding: 5px 10px;
    }

    #hero {
        padding: 0 20px;
        height: 80vh;
        align-items: center;
        text-align: center;
        background-position: center;
    }

    #hero h1 {
        font-size: 38px;
    }

    #hero h2 {
        font-size: 32px;
    }

    .row {
        padding: 20px;
        justify-content: center;
    }

    .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
        padding: 0 20px;
        text-align: center;
    }

    #banner h2 {
        font-size: 28px;
    }

    #sm-banner .banner-box {
        margin-bottom: 20px;
    }

    #three-banners .banner-box {
        min-width: 100%;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter input {
        width: 100%;
    }

    footer {
        padding: 40px 20px;
    }

    footer .col {
        width: 100%;
        margin-bottom: 30px;
    }

    #blog {
        padding: 50px 20px;
    }

    #blog .blog-box {
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog-img {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    #blog .blog-details {
        width: 100%;
    }
}